<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @education.name %>
</p>

<%= link_to 'Редактировать', edit_education_path(@education) %> |
<%= link_to 'Назад', educations_path %>
