<section><h2>Автоматизированная информационная система «Платные образовательные услуги населению»</h2></section>
<article>
  <h4>Описание предметной области.</h4>
  Организация (Код, Название, Краткое название) оказывает платные образовательные услуги 1)населению. Услуги оказываются
  в виде проведения курсов 2)обучения, по которым необходимо хранить следующую информацию:<br>
  - 3)тип проведения – групповые, индивидуальные;<br>
  - 4)вид проведения – очные, заочные;<br>
  - дата начала, дата окончания курсов;<br>
  - срок обучения (дни, месяцы, годы);<br>
  - количество часов обучения;<br>
  - на базе какого образования (среднее, высшее);<br>
  - 5)темы, входящие в курс, для каждой темы:<br>
  название;<br>
  количество часов;<br>
  - время проведения занятий – дни недели, часы;<br>
  - 6)вид выпускного контроля (квалификационная работа, экзамен, собеседование и прочее);<br>
  - 7)вид выдаваемого документа (документ государственного образца, документ установленного образца);<br>
  - стоимость обучения<br>
  Для предоставления информации на сайте необходимо хранить адрес организации, контактные телефоны, электронный адрес,
  адрес сайта, серия, номер и вид документа о предоставлении образовательных услуг.<br>
  <b>Необходимо осуществлять следующую обработку данных:</b><br>
  - список курсов, на которых можно прослушать заданную темы, например, «1С Бухгалтерия»;<br>
  - список самых длительных курсов <br>
  - список слушателей заданного курса <br>
  - список слушателей в градации по возрасту <br>
  - список слушателей в градации по образованию <br>
  - доход по каждому курсу <br>
  - регистрация на курсе с указанием : фио, дата рождения, образование<br>
  - менеджер, студент, <br>

</article>
