<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outlet_control.name %>
</p>

<%= link_to 'Edit', edit_outlet_control_path(@outlet_control) %> |
<%= link_to 'Back', outlet_controls_path %>
