<p>
  <% if user_signed_in? %>
    <h6>Текущий пользователь</h6>
    <p>
    <p><b>Ваш email: </b><%= current_user.email %></p>
    <p><b>Вы: </b><%= current_user.role.title %></p>
    <p></p>
    </p>

    </p>
    <h4>Ваши однокурсники</h4>
    <p>
      <% for courses in current_user.courses %>
          <% for user in courses.users %>
            <ul>
              <li><%= link_to "#{user.fio}", user %></li>
            </ul>
        <% end %>
    <% end %>
<% end %>
</p>
